//首頁
//商品頁＆商品內頁
// //客製化多肉 ＆ 心理測驗

//手作課程
//部落格
.blogpage02{
    width: 100%;
}
.blogpage021200px{
    max-width: 1200px;
    margin: 0 auto;
}
.blogpage02title{
    max-width: 1000px;
    margin: 50px auto;
}
.blogpage02title img{
    width: 100%;
    border-radius: 30px;
}
.blogpage02title h1{
    font-weight: bold;
}

.blogpage02title p{
    text-align: left;
    width: 100%;
    margin: 20px auto;
}
.blogpage02title01{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}
.blogpage02title01 img{
    width: 30%;
    order: 2;
    border-radius: 30px;
}
.blogpage02title01text p{
    width: 90%;
    margin: 20px 0;
    text-align: left;
}
.blogpage02title02{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}
.blogpage02title02 img{
    width: 30%;
    border-radius: 30px;
}
.blogpage02title02 p{
    width: 90%;
    margin: 20px 0;
    margin-left: 70px;
    text-align: left;
}

//RWD
    @media (max-width: 990px) {
        .blogpage02 p{
            font-size: 10px;
        }
        .blogpage02 .blogpage02title01 p{
            margin: 10px 10px;
        }
        .blogpage02 .blogpage02title02 p{
            margin: 10px 10px;
        }
    }
  
    @media (max-width: 768px) {
        .blogpage02 .blogpage02title01{
            display: block;
        }
        .blogpage02 .blogpage02title01 img{
            width: 60%;
        }
        
        .blogpage02 .blogpage02title01text p{
            text-align: center;
             margin: 0 auto;
        }
        .blogpage02 .blogpage02title02{
            display: block;
        }
        .blogpage02 .blogpage02title02 img{
            width: 60%;
        }
    
        .blogpage02 .blogpage02title02text p{
            text-align: center;
            margin: 0 auto;
        }
    }
  
    @media (max-width: 414px) {
    }
  



//購物車＆結帳系統
//會員中心 & 會員登入
//Q&A